@media(max-width:1570px){
 
    .contener h2{ 
        font-size: 2em;
        padding: .5em 0;
    }
  
}


@media(max-width:1416px){
    .casa-aside {
        flex-direction: column;
       align-items: center;
    }
    .left {
        width: 100%;
    }
}




@media(max-width:1098px){
    .baner h1{
    font-size: 4.3em;
    padding-top: .1em
    ;
}
    .baner h3{
    font-size: 1.9em;
    padding-bottom: .4em;

}

.casa-aside2{
    display: flex;
    justify-content: center;
}
.left2{

    position: absolute;
    z-index: -1;
}

}

@media(max-width:1300px){
    .casa-aside{
        flex-wrap: wrap;
        justify-content: center;
        
    }
}


@media(max-width:1152px){
    header{
        padding-top: 8em;
    }
  
    .bandera h2{
        font-size: 1.5em;
        margin: 0 auto;
        text-align: center;
    }
    .casa-cosineros{
        flex-wrap: wrap;
        justify-content: center;
    }

    .news-letter h2{
        font-size: 1em;
    
    }

    .logo-footer{
        width: 90px;
    }
    .icon-footer{
        width: 30px;
    }
 


}


@media(max-width:690px){
    header{
        padding-top: 7em;
    }
   
    .contener h2{
        text-align: center;
        font-size: 1.5em;
        padding: .4em 0;
    }
    .bandera h2{
        font-size: 1.5em;
        margin: 0 auto;
        text-align: center;
    }
    .casa-footer{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 3em;
       
    }

    
}


@media(max-width:638px){
 
    .iconito{
        width: 18px;
        height: 15px;
    }
    .band1 a{
      
        font-size: .4em;
        margin: 0 5px;
        transition: all .3s ease-in-out;
    }
    nav img{
        width: 40px
    }
    .navigo{
      display: none;
      flex-direction: column;
    
    }
    nav span{
        display: block;
    }
    .l-i-navigo:hover  .navigo{
        display: block;
    }
 
    .l-i-navigo{
        position: absolute;
        top: 45px;
        right: 0;
        text-align: right;
    }
    .baner h1{
        font-size: 3em;
        padding-top: .1em
        ;
    }
    
    .baner h3{
        font-size: 1.3em;
        padding-bottom: .4em;
    
    }
    .baner{
        width: 85%;
       
    }
    .logo-footer{
        width: 60px;
    }
    .icon-footer{
        width: 30px;
    }

    .navigo li a{
        color: var(--color-white);
        display: block;
        padding: 5px 15px;
        transition: all .3s ease-in-out;
        font-family: var(--font-family-comic);
        background-color: rgba(15, 5, 5, 0.747);
    
    }

    .left p {
        padding-bottom: 1.5em;
    }
  
    

  
}

@media(max-width:481px){

    .contener h2{
        text-align: center;
        font-size: 1em;
        padding: .4em 0;
    }


}